body {
    background-color: #eeeeee;
}
.grid{
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

.grid h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#57636e;
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 2px 0px;
    border-radius: 50px;
}

.grid #question{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: #5a677e;
}

.buttons{
    margin-top: 30px;
}

#btn0, #btn1, #btn2, #btn3{
    background-color: #778897;
    border-radius: 30px;
    color: #fff;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    font-size: 20px;
    border: 1px solid burlywood;
    width: 250px;
}

#progress{
    color: #57636e;
    font-size: 20px;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover{
    cursor: pointer;
    background-color: #57636e;
}

#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus{
    outline: 0px;
}